
.lb-inbox {
  background: #fff;
  width: 460px;
  min-height: 120px;
  max-height: 560px;
  z-index: 1000;
  max-height: calc(100vh - var(--header-height) - 10px);
  display: flex;
  flex-direction: column;
  outline: none;
  overflow-y: auto;
  border-radius: 0.75rem;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 8%),
    0 8px 26px rgb(0 0 0 / 12%);
}

.lb-inbox .empty {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.lb-inbox .inbox-header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  place-items: center;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 4%),
    0 2px 6px rgb(0 0 0 / 4%),
    0 8px 26px rgb(0 0 0 / 6%);
}

.lb-inbox .inbox-title {
  font-weight: 500;
}

.lb-inbox .inbox-buttons {
  display: flex;
  gap: 6px;
}

.lb-inbox .inbox-list {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 8%);
}

.lb-inbox .inbox-unread-count {
  position: absolute;
  top: 6px;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  place-content: center;
  place-items: center;
  background: var(--Badge--danger-bg);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  height: 1rem;
  min-width: 1rem;
  padding: 0 0.5rem;
  border-radius: 9999px;
}


.lb-inbox .inbox-content {
  display: flex;
  min-height: 100vh;
  padding: calc(var(--header-height) + 1rem) 1rem 1rem
    calc(var(--sidebar-width) + 1rem);
  overflow-y: auto;
}

.lb-inbox .inbox-button {
  all: unset;
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  /* background: #f3f3f3; */
  background: transparent;
  color: rgb(116, 116, 116);
}

.lb-inbox .inbox-button.square {
  padding: 0;
  width: 1.6rem;
  height: 2rem;
}

.lb-inbox .inbox-button.destructive {
  background: #fde5e5;
  color: #953939;
}

.lb-inbox .inbox-button:hover,
.lb-inbox .inbox-button:focus-visible {
  /* background: #f3f3f3; */
  cursor: pointer;
}

.lb-inbox .inbox-button.destructive:hover,
.lb-inbox .inbox-button.destructive:focus-visible{
  background: #ffd6d6;
}