:root {
    --fc-button-text-color: #0176d3;
    --fc-button-bg-color: #fff;
    --fc-button-border-color: #c9c9c9;
    --fc-button-hover-bg-color: #f3f3f3;
    --fc-button-hover-border-color: #c9c9c9;
    --fc-button-active-bg-color: #eeeeee;
    --fc-button-active-border-color: #c9c9c9;
}

.steedos-listview .fc-media-screen{
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.steedos-listview .fc-media-screen .fc-view-harness{
    background: #fff;
}
.steedos-listview .fc-theme-standard .fc-scrollgrid{
    border-left: none;
    border-right: none;
}
.steedos-listview .fc .fc-scrollgrid-section > *{
    border-right-width: 0;
}
.steedos-listview .fc .fc-scrollgrid-section-liquid > td{
    border-right-width: 0;
}
.steedos-listview .fc .fc-scrollgrid-section > td{
    border-right-width: 0;
}
