/*b6_fields公式字段只读效果*/
.antd-Form .antd-Form-item.steedos-static-readonly .antd-FormulaPicker .antd-FormulaPicker-input {
    border: none;
    padding: 0;
    pointer-events: none;
}

.antd-Form .antd-Form-item.steedos-static-readonly .antd-FormulaPicker .antd-FormulaPicker-action {
    display: none;
}

.antd-Form .antd-Form-item.steedos-static-text-readonly .antd-FormulaPicker .antd-FormulaPicker-input {
    border: none;
    padding: 0;
    pointer-events: none;
}

.antd-Form .antd-Form-item.steedos-static-text-readonly .antd-FormulaPicker .antd-FormulaPicker-action {
    display: none;
}

/*ag-grid校验错误时行警告背影色效果*/
.steedos-airtable-grid .ag-grid-verification-errors-row {
    background-color: #FF634744 !important;
}

.steedos-airtable-grid .ag-grid-verification-errors-row .ag-cell-edit-wrapper {
    border: solid 3px #FF634744 !important;
}

/*ag-grid单元格编辑，amis下拉框多选值很多时允许显示为多行*/
.steedos-airtable-grid {
    .ag-popup-editor {
        .antd-Select.antd-Select--multi {
            .antd-Select-valueWrap {
                display: inline-block;

                .antd-Select-value {
                    display: inline-block;
                }
            }
        }
    }

    /*ag-grid单元格编辑自定义组件中，如果不是popup模式，应该显示为满屏高度*/
    .amis-ag-grid-cell-editor-wrapper {
        .amis-ag-grid-cell-editor {
            height: 100%;

            .antd-Form {
                height: 100%;

                .antd-Form-item {
                    height: 100%;

                    .antd-Form-control {
                        height: 100%;

                        .antd-DatePicker {
                            height: 100%;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}