.steedos-object-listview {
    .antd-DropDown{
        .antd-Button{
            border-radius: 4px;
            height: var(--button-size-default-height);
        }
    }
    .split-dropdown-buttons{
        li{
            padding: unset;
            height: unset;
            .antd-Button{
                border: none !important;
                background: unset !important;
                width: 100%;
                justify-content: unset;
            }
        }
    }
}