
.steedos-context-bar .antd-Nav-list{
    border-bottom: 0px;
    height: 40px;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item.is-active  {
    box-shadow: none;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item > a {
    border: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-top: solid transparent 3px;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item:hover > a,
.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item > a:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(21,137,238,.1);
    border-top: solid rgba(21,137,238,.1) 3px;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item.is-active > a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(21,137,238,.1);
    border-top: solid rgb(14 165 233) 3px;
}

.antd-Nav .antd-Nav-list--stacked .antd-Nav-item .antd-Nav-itemToggler, .antd-Nav .antd-Nav-list--stacked .antd-Badge .antd-Nav-itemToggler {
    height: auto;
}

.h-fill{
    height: -webkit-fill-available !important;
}

.steedos-global-header-root .sidebar-wrapper .antd-Nav .antd-Nav-Menu-item-link{
    min-height:var(--Nav-Item-height);
    height: unset;
}

.steedos-app-menu.stacked {
    // .antd-Nav-Menu-inline .antd-Nav-Menu-item-selected::before {
    //     border-right: none;
    // }
    // .antd-Nav-Menu-light .antd-Nav-Menu-item.antd-Nav-Menu-item-selected {
    //     background-color: hsl(220, 13%, 91%);
    // }
    // .antd-Nav-Menu-item:active, .antd-Nav-Menu-item-active, .antd-Nav-Menu-submenu-title:active {
    //     background-color: rgb(243 244 246);
    //     color: black;
    // }
    .antd-Nav-Menu .antd-Nav-Menu-submenu-selected > .antd-Nav-Menu-submenu-title .antd-Nav-Menu-item-label {
        color: black;
    }
    a, a:hover, a:active, a:focus {
        color: black;
    }
    .antd-Nav-Menu-item-active .antd-Nav-Menu-item-label, .antd-Nav-Menu-item-active .antd-Nav-Menu-item-icon, .antd-Nav-Menu-item-active .antd-Nav-Menu-item-icon-after, .antd-Nav-Menu-item-active .antd-Nav-Menu-submenu-arrow {
        color: black;
    }
    .antd-Nav-SearchBox.is-active {
        width: calc(100% - 1rem);
        margin: 0 0.5rem;
        margin-bottom: 0.5rem;
    }
}


.steedos-header-container-line-two{
    .ant-dropdown-placement-bottomLeft{
        left: -15px !important;
    }
}


.antd-Nav-Menu-item-active .hover-inline-flex{
    display: inline-flex !important;
}

.antd-Nav-Menu-submenu-active .hover-inline-flex{
    display: inline-flex !important;
}

.antd-Nav-Menu-submenu-active .antd-Nav-Menu-item .hover-inline-flex{
    display: none !important;
}

.steedos-app-menu-plus .antd-DropDown-menu-root{
    right: 10px !important;
}