#steedosGlobalFooterRoot .antd-Nav{
    height: 4rem;
    position: fixed;
    bottom: 0;
    z-index: 20;
    width: 100%;
}
.steedos-global-footer{
    border-top: 1px solid rgb(203 213 225);
}
.steedos-global-footer .antd-Nav-Menu-item-tooltip-wrap > .antd-Nav-Menu-item, .steedos-global-footer .antd-Nav-Menu-overflow-item > .antd-Nav-Menu-submenu-title{
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

// .steedos-global-footer .antd-Nav-Menu-item, .steedos-global-footer .antd-Nav-Menu-submenu-title,.steedos-global-footer .antd-Nav-Menu-overflow-item-rest{
//     background-color: rgb(243 244 246) !important;
// }

.steedos-global-footer .antd-Nav-Menu-submenu-selected{
    border-bottom: none !important;
}

.steedos-global-footer .antd-Nav-Menu-item.antd-Nav-Menu-item-selected:after{
    width: 0;
}

.steedos-global-footer .antd-Nav-Menu-item-wrap svg{
    background-color: unset;
    fill: #64748b;
}
.steedos-global-footer .antd-Nav-Menu-item-selected .text-gray-700{
    color: #0970d1 !important;
}

.steedos-global-footer .antd-Nav-Menu-item-selected svg{
    fill: #0970d1;
}
.steedos-global-footer .antd-Nav-Menu-item-link,.steedos-global-footer .antd-Nav-Menu-item-wrap,.antd-Nav-Menu-overflow-item{
    height: 100% !important;
}

.steedos-global-footer-popup .antd-Nav-Menu-item-wrap{
    align-items: center;
}

.steedos-global-footer-popup .antd-Nav-Menu-item-link{
    max-width: unset;
}

.steedos-global-footer .antd-Nav-Menu-submenu-title{
    height: 100% !important;
    display: flex;
    align-items: center;
}

.steedos-global-footer-popup .nav-label{
    flex-direction: unset !important;
}

.steedos-global-footer-popup{
    width: 100%;
    top: 54px !important;
    bottom: 64px !important;
    left: 0 !important;
    position: fixed !important;
}

.steedos-global-footer-popup .antd-Nav-Menu{
    height: 100%;
    overflow: auto;
    box-shadow: none;
}

.steedos-global-footer-popup .antd-Nav-Menu-item{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid #e5e7eb;
}

.steedos-global-footer-popup .antd-Nav-Menu-item svg{
    margin-right: 12px;
}

.steedos-global-footer-popup .nav-label{
    font-size: 17px;
}

.steedos-global-footer-popup .antd-Nav-Menu-item-label-subTitle{
    max-width: 100% !important;
}

.steedos-global-footer-root .antd-Nav-Menu-horizontal.antd-Nav-Menu-light{
    // background-color: rgb(243 244 246 );
    justify-content: space-evenly;
    height: 100%;
}

@media (max-width: 767px) {
    .steedos-global-footer-root .antd-Nav-Menu-horizontal:after{
        /*手机端底部导航左右间隔不平衡*/
        content: unset;
    }
}


.steedos-global-footer ul{
    order:unset !important
}

