@media (min-width: 767px) {
    /* 列表快速编辑功能样式 */
    .steedos-object-table {
        tbody td.antd-Field--quickEditable {
            &> div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .antd-Field-quickEditBtn {
                    padding-right: 13px;

                    svg {
                        display: none;
                    }
                }
            }
        }

        tbody td.antd-Field--quickEditable:hover {
            div {
                .antd-Field-quickEditBtn {
                    padding-right: 0;

                    svg {
                        display: inline-block;
                    }
                }
            }

        }

        .date-min-w {
            min-width: 9em;
        }
        .datetime-min-w {
            min-width: 12em;
        }
    }
}

.steedos-object-table.steedos-crud-mode-cards{
    .antd-Crud{
        height: 100%;
        .antd-Cards {
            height: 100%;
            .antd-Cards-toolbar{
                /* crud的card模式不支持headerToolbarClassName和footerToolbarClassName，这里只能用first-child和last-child来区别 */
                &:first-child{
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    background-color: rgb(243 244 246 / 1);
                    border-color: rgb(209 213 219 / 1);
                    border-style: solid;
                    border-bottom-width: 1px;
                }
                &:last-child{
                    padding-left: 1rem;
                    padding-right: 1rem;
                    background-color: transparent;
                    border-bottom-width: 0;
                    margin-bottom: 0;
                }
            }
            .antd-Cards-body{
                margin: 0.25rem;
                .antd-Card{
                    .antd-Card-heading{
                        .antd-Card-title{
                            .antd-TplField a{
                                // 标题字段字体加大
                                font-size: 16px;
                            }
                        }
                    }
                    .antd-Card-body{
                        margin-top: -10px;
                    }
                    @media (max-width: 768px){
                        border-left: none;
                        border-right: none;
                        border-top: none;
                        border-radius: unset;
                        margin-top: -10px;
                        margin-left: 8px;
                        margin-right: 8px;
                        .antd-Card-heading, .antd-Card-body{
                            padding: var(--gap-sm);
                        }
                    }
                    .antd-Card-body{
                        .antd-Card-field{
                            .antd-Card-fieldLabel{
                                color: inherit;
                                margin-right: 6px;
                                &:after{
                                    content: ":";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}