.steedos-global-footer{
    border-top: 1px solid rgb(203 213 225);
}
.steedos-global-footer .antd-Nav-Menu-item, .steedos-global-footer .antd-Nav-Menu-submenu-title{
    padding-bottom: 5px !important;
}

.steedos-global-footer .antd-Nav-Menu-item, .steedos-global-footer .antd-Nav-Menu-submenu-title,.steedos-global-footer .antd-Nav-Menu-overflow-item-rest{
    background-color: rgb(243 244 246) !important;
}

.steedos-global-footer .antd-Nav-Menu-submenu-selected{
    border-bottom: none !important;
}

.steedos-global-footer .antd-Nav-Menu-item.antd-Nav-Menu-item-selected:after{
    width: 0;
}

.steedos-global-footer .antd-Nav-Menu-item-wrap svg{
    background-color: unset;
    fill: #64748b;
}
.steedos-global-footer .antd-Nav-Menu-item-selected .text-slate-700{
    color: #0970d1 !important;
}

.steedos-global-footer .antd-Nav-Menu-item-selected svg{
    fill: #0970d1;
}
.steedos-global-footer .antd-Nav-Menu-item-link,.steedos-global-footer .antd-Nav-Menu-item-wrap,.antd-Nav-Menu-overflow-item{
    height: 100% !important;
}

.steedos-global-footer-popup .antd-Nav-Menu-item-wrap{
    align-items: center;
}

.steedos-global-footer .antd-Nav-Menu-submenu-title{
    height: 100% !important;
    display: flex;
    align-items: center;
}

.steedos-global-footer-popup .nav-label{
    flex-direction: unset !important;
}

.steedos-global-footer-popup{
    height: calc(100vh - 125px);
    width: 100%;
}

.steedos-global-footer-popup .antd-Nav-Menu{
    height: 101.1%;
    overflow: auto;
    box-shadow: none;
}

.steedos-global-footer-popup .antd-Nav-Menu-item{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid #e5e7eb;
}

.steedos-global-footer-popup .antd-Nav-Menu-item svg{
    margin-right: 12px;
}

.steedos-global-footer-popup .nav-label{
    font-size: 17px;
}

.steedos-global-footer-popup .antd-Nav-Menu-item-label-subTitle{
    max-width: 100% !important;
}

.steedos-global-footer-root .antd-Nav-Menu-horizontal.antd-Nav-Menu-light{
    background-color: rgb(243 244 246 );
}

@media (max-width: 767px) {
    .steedos-object-listview .antd-Table-content {
        max-height: calc(~"100vh - 263px");
    }
    .steedos-global-footer-root .antd-Nav-Menu-horizontal:after{
        content: unset;
    }
}

.steedos-global-footer ul{
    order:unset !important
}

