
body.sidebar.sidebar-open #sidebar {
    margin-top: 90px; 
}

body.sidebar.sidebar-open #main {
    padding-left: 220px;
}

@media (max-width: 768px){
    body.sidebar.sidebar-open #sidebar {
        margin-top: 50px; 
    }

    body.sidebar.sidebar-open #main {
        padding-left: 0;
    }

}

.steedos-context-bar .antd-Nav-list{
    border-bottom: 0px;
    height: 40px;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item.is-active  {
    box-shadow: none;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item > a {
    border: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item:hover > a,
.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item > a:focus {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(21,137,238,.1);
    border-top: solid rgba(21,137,238,.1) 3px;
}

.steedos-context-bar .antd-Nav .antd-Nav-list--tabs .antd-Nav-item.is-active > a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: rgba(21,137,238,.1);
    border-top: solid rgb(14 165 233) 3px;
}

.antd-Nav .antd-Nav-list--stacked .antd-Nav-item .antd-Nav-itemToggler, .antd-Nav .antd-Nav-list--stacked .antd-Badge .antd-Nav-itemToggler {
    height: auto;
}