@media (min-width: 767px){
    .antd-Collapse .antd-Form--normal, .antd-Form--normal .antd-Tabs .antd-Tabs-content .antd-Tabs-pane .form-content{
        display: grid!important;
        grid-template-columns: repeat(2,minmax(0,1fr))!important;
        grid-row-gap: 1rem!important;
        row-gap: 1rem!important;
        grid-column-gap: 1.5rem!important;
        -moz-column-gap: 1.5rem!important;
        column-gap: 1.5rem!important;
    }
    
    .antd-Collapse .antd-Form--horizontal, .antd-Form--horizontal .antd-Tabs .antd-Tabs-content .antd-Tabs-pane .form-content{
        display: grid!important;
        grid-template-columns: repeat(2,minmax(0,1fr))!important;
        grid-row-gap: 1rem!important;
        row-gap: 1rem!important;
        grid-column-gap: 1.5rem!important;
        -moz-column-gap: 1.5rem!important;
        column-gap: 1.5rem!important;
    }
    
}

fieldset.antd-Collapse > legend.antd-Collapse-header{
    border-left: 0;
}

fieldset.antd-Collapse > legend{
    padding: 0;
}

main {
    background: var(--body-bg);
}


.ant-modal-root .amis-scope .antd-Panel-footerWrap{
    position: sticky;
    width: 100%;
    bottom: 0px;
    background: #ffffff
}

.amis-scope .antd-Modal-content{
    max-height: calc(100vh - 100px);
}

.amis-scope .antd-Modal-content .antd-Modal-body{
    height: calc(100% - 108px);
    overflow: auto;
}

.amis-scope .antd-Select-option > label {
    display: block;
    min-width: 100px;
}

.steedos-related-listview.amis-scope .antd-Table-headToolbar{
    display: none;
}

.steedos-listview.amis-scope .antd-Table-headToolbar{
    display: none;
}

.slds-page-header .antd-Button{
    vertical-align: inherit !important;
    height: auto !important;
    min-width: auto !important;
    font-weight: inherit !important;
    font-size: inherit !important;
}

.antd-Crud-toolbar{
    margin-left: 1rem;
    margin-right: 1rem;
}

#__next .antd-Panel {
    box-shadow: none;
}

.is-inline .antd-Combo-items{
    justify-content: space-between !important;
    display: flex !important;

}

.is-inline .antd-Combo-items > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse))) !important;
}

.is-inline .antd-Combo-item{
    display: inline-block !important;
    flex: 1 1 0%;
    margin-top: 0 !important;
}

/*Table空状态高度调整*/
.antd-Table-placeholder{
    height: 20px !important;
}

.antd-Table-placeholder-empty-icon.icon{
    height: 20px !important;
}

.steedos-listview .antd-List-toolbar{
    display: none;
}

/* .steedos-listview .antd-Crud-toolbar:first-child{
    display: none;
} */

#__next .bg-white {
    color: black;
}

.amis-scope .antd-Card{
    border-left: none !important;
    border-right: none !important;
    border-image: none !important;
    border-bottom: none !important;
}

.amis-scope svg.icon {
    vertical-align: baseline;
    display: inline;
}

button.antd-Button--primary {
    background-color: var(--Button--primary-bg);
}

#__next .antd-Table {
    margin-bottom: 0;
}

#__next .antd-Table-tr--even {
    background-color: #fcfdfe;
}

#__next .antd-Table-checkCell {
    border-right: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,Microsoft Yahei,SimHei;
}

:root {
    --fontFamilyBase: -apple-system,BlinkMacSystemFont,Helvetica,Arial,Microsoft Yahei,SimHei;
    --Collapse-header-padding: 0px;
    --Form-selectValue-fontSize: 14px;
    --Table-toolbar-marginY: 0;
    --TableCell--edge-paddingX: 1rem;
    --Table-borderColor: #d9dcde;
    --TableCell-paddingY: 0.3rem;
    --Table-thead-borderWidth: 1px;
    --text--muted-color: #d9dcde;
    --Collapse-header-fontSize: 16px;
    --Collapse-header-fontWeight: 400;
    --Collapse-header-onHover-bg: #EEEEEE;
    --Collapse-header-padding: 4px;
    --Collapse-content-padding: 12px;
    --Button-paddingX: 16px;
    --Button--default-color: #0176d3;
    --Button-borderRadius: 0.25rem;
}

/* .antd-Cards-fixedTop{
    display: none !important;
} */

.antd-Form-item--normal{
    display: block !important;
    padding-top: 0.25rem !important;
    padding-bottom:  0.25rem !important;
    margin: 0 !important;
}

.antd-Form-item--normal .antd-Form-label{
    margin-bottom: 0.25rem !important;
    width: 100%;
    max-width: 100% !important;
    font-size: var(--Form-item-fontSize) !important;
}

.antd-Form-item .antd-Form-control{
    font-size: var(--Form-item-fontSize) !important;
}

@media (max-width: 767px){
    .antd-Form::before{
        border: none !important;
    }
    .antd-Form .antd-Picker-input{
        border: none !important;
    }
    .antd-Form .antd-Number{
        border: none !important;
    }
}



.ant-modal-wrap {
    overflow: hidden;
}

.ant-modal-content {
    max-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px){
    .ant-modal{
        top: 0px !important;
        margin: 0px !important;
        max-width: 100% !important;
        padding-bottom: 0px !important;
        height: 100%;
    }
    .ant-modal-content {
        height: 100%;
        max-height: 100%;
    }
}
.ant-modal-body {
    flex: 1  !important;
    overflow: auto  !important;
}

:focus:not(:focus-visible) {
    outline: 0;
}

fieldset.antd-Collapse > legend.antd-Collapse-header {
    background: #f3f3f3;
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;
}

fieldset.antd-Collapse > legend.antd-Collapse-header > .antd-Collapse-arrow:before {
    border-color: initial
}

svg.icon {
    display: inherit;
}


/* fix: https://github.com/baidu/amis/issues/5073 */
.antd-CBGroup-toolbar .antd-CBGroup-toolbarConditionAdd .antd-ButtonGroup>.antd-Button:first-child {
    margin-right: 1.5rem;
}


.steedos-listview .antd-Images{
    display: inline !important;
}

.steedos-object-record-more-button button{
    border-radius: 0px !important;
    width: 100% !important;
    text-align: left !important;
    background-color: transparent !important;
    background: transparent !important;
    border: none !important;
    color: var(--Button--default-color) !important;
}

.steedos-object-record-more-button button:hover{
    color: var(--Button--default-color) !important;
}