
:root {
    --body-bg: white; 
}

@media only screen and (max-width: 768px) {
    :root {
        --body-bg: white; 
    }
}

body {
    background: var(--body-bg);
}

#main {
    background: top / cover no-repeat url(/images/defaultBackground.png); 
}