
#instanceRoot{
    font-size: .8125rem;
}



#instanceRoot .instance-name{
    font-size: 20px;
}

#instanceRoot .instance-form-view{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
}

#instanceRoot .instance-applicant-view{
    border: none !important;
}

#instanceRoot .instance-applicant-view td{
    border: none !important;
}

#instanceRoot .instance-form-view .antd-TextControl-input{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}

#instanceRoot .instance-form-view .antd-Select{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}

#instanceRoot .instance-form-view .antd-DatePicker{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}

#instanceRoot .instance-form-view .antd-TextareaControl-input{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}

#instanceRoot .instance-form-view .antd-Number{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}

#instanceRoot .instance-form-view .antd-Picker-input{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}


.approval-drawer .antd-Drawer-content {
    display: block !important;
    height: auto !important;
}

#instanceRoot .antd-PullRefresh{
    height: 100%;
}

#instanceRoot .instance-applicant-view  .antd-Picker-input{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important; 
}

#instanceRoot #amis-root-workflow .antd-List-placeholder{
    display: none;
}

/* amis3.0可用属性控制antd-Tree的maxheight */
.instance-box-tree .antd-Tree{
    max-height: 100% !important;
}

/* 选中效果修改 */
.instance-box-tree .antd-Tree-item .is-checked{
    background-color: rgba(21,137,238,.1);
}

.instance-box-tree .antd-Tree-item .is-checked .antd-Tree-itemLabel-item{
    background-color: unset;
}