
:root, .antd-Nav-Menu {
  --Menu-light-fontColor: var(--Layout-light-fontColor);
  --Menu-light-fontColor-onHover: var(--Layout-light-fontColor);
  --Menu-light-fontColor-onActive: var(--Layout-light--onActive);
  --Menu-light-active-backgroundColor: #fff;
  --Menu-light-backgroundColor-onHover: rgb(250, 250, 250);
  --Menu-light-selectedIndicator-color: rgb(14, 165, 233);
  --Nav-Item-height: 2.5rem;
  /* --Nav-Item-height--horizontal: 2.5rem; */
  --Nav-item-borderRadius: 0px;
  --Nav-item-onActive-color: #000;
  --Nav-item-onHover-bg: rgba(21,137,238,.1);
  --Nav-item-onActive-bg: rgba(21,137,238,.1);
  --Nav-item-onActive-color: var(--Layout-light--onActive);
  --Nav-Item-maxWidth--tabs: 200px;
}
.antd-Nav-Menu.antd-Nav-Menu-horizontal {
  --Menu-light-backgroundColor-onHover: rgba(151, 151, 151, 0.1);
}

.antd-Nav {
  --Nav-item-onActive-color: #000;
}

.antd-Nav-Menu-item-dragBar {
  left: 0;
  top: 11px;
}

.steedos-app-service-edit .antd-Nav-Menu-inline .antd-Nav-Menu-item-active.antd-Nav-Menu-item-selected::before {
  display: none;
}

.antd-Nav-Menu-item-active {
  /* line-height: var(--Nav-Item-height); */
  background: var(--Menu-light-backgroundColor-onHover);
}

.antd-Nav-item.is-active {
  box-shadow:var(--link-color) 4px 0 0 inset;
}


.antd-Nav-Menu-submenu-arrow > svg {
  display: initial;
}

.antd-Nav-Menu-horizontal .antd-Nav-Menu-item.antd-Nav-Menu-item-selected:after {
  height: 3px;
  top: 0;
  bottom: unset;
  background: rgb(14 165 233);
}

.antd-Nav-Menu-light .antd-Nav-Menu-item {
  padding-right: 0.5rem;
}


.antd-Nav-Menu-horizontal > .antd-Nav-Menu-item-tooltip-wrap > .antd-Nav-Menu-item {
  padding: 0 15px;
}


/*  nav下配置itemBadge属性后item不会自动撑开 */ 
.antd-Nav-Menu-item-wrap .antd-Badge{
  width: -webkit-fill-available;
}



/* TODO: amis3.2.0 .antd-Nav-Menu-item-link类中缺少flex，影响nav样式 */
.antd-Nav-Menu-item-link{
  display: flex;
  align-items: center;
}

/* TODO: amis3.2.0 .antd-Nav类中多了background属性，影响nav样式 */
.antd-Nav {
  background-color: unset;
}


.steedos-header-container .antd-Nav-Menu {
  --Menu-light-backgroundColor: transparent;
}

.antd-Nav-Menu .antd-Nav-Menu-submenu-selected > .antd-Nav-Menu-submenu-title .antd-Nav-Menu-item-label {
  color: var(--Menu-light-fontColor);
}
.antd-Nav-Menu a, a:hover, a:active, a:focus {
  color: var(--Menu-light-fontColor);
}
.antd-Nav-Menu-item-active .antd-Nav-Menu-item-label, .antd-Nav-Menu-item-active .antd-Nav-Menu-item-icon, .antd-Nav-Menu-item-active .antd-Nav-Menu-item-icon-after, .antd-Nav-Menu-item-active .antd-Nav-Menu-submenu-arrow {
  color: var(--Menu-light-fontColor);
}

.antd-Nav-Menu .antd-Nav-Menu-submenu-title a, .antd-Nav-Menu .antd-Nav-Menu-submenu-title a:hover {
  padding-left: 6px;
  font-weight: bold;
}

