:root {
    --fontFamilyBase: -apple-system,BlinkMacSystemFont,Helvetica,Arial,Microsoft Yahei,SimHei;
    --fontSizeLg: 14px;
    --Collapse-header-padding: 0px;
    --Form-selectValue-fontSize: 14px;
    --Table-toolbar-marginY: 0;
    --TableCell--edge-paddingX: 1rem;
    --Table-borderColor: #d9dcde;
    --TableCell-paddingY: 0.3rem;
    --TableCell-paddingX: 0.5rem;
    --TableCell--edge-paddingX: 0.5rem;
    --Table-thead-borderWidth: 1px;
    --text--muted-color: #d9dcde;
    --Collapse-header-fontSize: 16px;
    --Collapse-header-fontWeight: 400;
    --Collapse-header-onHover-bg: #EEEEEE;
    --Collapse-header-padding: 4px;
    --Collapse-content-padding: 4px;
    --Button-height: 2rem;
    --Button-paddingX: 16px;
    --Button--default-color: rgb(1, 118, 211);
    --Button--default-border: #c9c9c9;
    --Button-borderRadius: 0.25rem;
    --borderRadius: 4px;
    --Nav-item-borderRadius: 0px;
    --Nav-item-onHover-bg: rgba(21,137,238,.1);
    --Nav-item-onActive-bg: rgba(21,137,238,.1);
    --Nav-item-onActive-color: #000;
}
