:root {
    --body-bg: white;
    --body-color: #181818;
    --body-size: 14px;
    --Page-main-bg: transparent;
    --Form-mode-default-labelGap: 2px;
    --Form-item-fontSize: 12px;
    --Form-item-fontColor: rgb(68, 68, 68);
    --Form-fontSize: 14px;
    --Form-selectValue-fontSize: 14px;
    --Form-item-gap: 0.75rem;
    /* --Table-color: #303030; */
    /* --Table-thead-color: #303030; */
    --Table-borderColor: #e5e7eb;
    --Table-borderWidth: 1px;
    --Table-fontSize: 13px;
    --Table-fixedRight-boxShadow: none;
    --Table-thead-borderColor: rgb(209 213 219);
    --Table-thead-fontSize: 13px;
    --Table-thead-bg: white;
    --Table-thead-borderColor: var(--Table-borderColor);
    --Table-toolbar-marginY: 0;
    --Table-thead-borderWidth: 1px;
    --Table-bg: white;
    --TableCell--edge-paddingX: 1rem;
    --TableCell-paddingY: 0.4rem;
    --TableCell-paddingX: 0.5rem;
    --TableCell--edge-paddingX: 0.5rem;
    --text--muted-color: #d9dcde;
    --Collapse-header-padding: 0px;
    --Collapse-content-fontSize: 14px;
    --Collapse-border: 0;
    --Collapse-header-fontSize: 16px;
    --Collapse-header-fontWeight: 400;
    --Collapse-header-onHover-bg: #EEEEEE;
    --Collapse-header-padding: 4px;
    --Collapse-content-padding: 4px;
    --collapse-default-bg-color: unset;
    --Button-height: 2rem;
    --Button-paddingX: 16px;
    --button-size-default-top-right-border-radius: 0.25rem;
    --button-size-default-top-left-border-radius: 0.25rem;
    --button-size-default-bottom-right-border-radius: 0.25rem;
    --button-size-default-bottom-left-border-radius: 0.25rem;
    --button-size-default-marginRight: 4px;
    --button-default-default-bg-color: white;
    --button-default-default-top-border-color: #c9c9c9;
    --button-default-default-bottom-border-color: #c9c9c9;
    --button-default-default-left-border-color: #c9c9c9;
    --button-default-default-right-border-color: #c9c9c9;
    --button-default-default-font-color: rgb(1, 118, 211);
    --button-enhance-default-bg-color: white;
    --Nav-item-borderRadius: 0px;
    --Nav-item-onHover-bg: rgba(21,137,238,.1);
    --Nav-item-onActive-bg: rgba(21,137,238,.1);
    --Nav-item-onActive-color: #000;
    --Nav-Item-maxWidth--tabs: 200px;
    --Crud-toolbar-gap: 2px;
    --DropDown-caret-marginLeft: 0;
    --Tabs--vertical-width: 180px;
    --Tabs-link-maxWidth: 180px;
    --Tabs-content-bg: unset;
    --drawer-content-paddingTop: 0;
    --fieldSet-legend-fontWeight: 600;
    --fieldSet-legend-marginTop: 1rem;
    --fieldSet-legend-marginBottom: 1rem;
}

/* 修正手机端字体小的问题 */
@media (max-width: 767px) {

    :root {
        --button-size-default-fontSize: var(--fontSizeLg);
        --link-fontSize: var(--fontSizeLg);
        --Table-fontSize: var(--fontSizeLg);
        --Tabs--line-fontSize: var(--fontSizeLg);
        --Tabs--line-active-fontSize: var(--fontSizeLg);
        --Tabs--line-hover-fontSize: var(--fontSizeLg);
        --fieldSet-legend-fontSize: var(--fontSizeLg);
        --Pick-base-value-fontSize: var(--fontSizeLg);
        --dialog-header-fontSize: var(--fontSizeLg);
        --input-default-default-fontSize: var(--fontSizeLg);
    }
    .antd-Form .antd-Form-item input {
        font-size: var(--fontSizeLg);
        padding: 0 0.625rem 0 0.625rem;
    }
}

.steedos-header-container .antd-Nav-Menu {
    --Menu-light-backgroundColor: transparent;
}

fieldset.antd-Collapse {
    margin-bottom: 1rem;
}

/* fieldset.antd-Collapse > legend.antd-Collapse-header {
    border-left: 0;
    background: rgb(241 245 249);
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;
}

fieldset.antd-Collapse > legend.antd-Collapse-header > .antd-Collapse-arrow:before {
    border-color: initial
} */

.amis-scope .antd-Select-option > label {
    display: block;
    min-width: 100px;
}

.is-inline .antd-Combo-items{
    justify-content: space-between !important;
    display: flex !important;

}

.is-inline .antd-Combo-items > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse))) !important;
}

.is-inline .antd-Combo-item{
    display: inline-block !important;
    flex: 1 1 0%;
    margin-top: 0 !important;
}

.steedos-listview .antd-List-toolbar{
    display: none;
}

@media (max-width: 768px){
    .ant-modal.antd-Modal--lg, .ant-modal.antd-Modal--xl, .ant-modal.antd-Modal--full{
        top: 0px !important;
        margin: 0px !important;
        max-width: 100% !important;
        padding-bottom: 0px !important;
        height: 100%;
    }
    .ant-modal-content {
        height: 100%;
        max-height: 100%;
    }
}

:focus:not(:focus-visible) {
    outline: 0;
}

/* fix: https://github.com/baidu/amis/issues/5073 */
.antd-CBGroup-toolbar .antd-CBGroup-toolbarConditionAdd .antd-ButtonGroup>.antd-Button:first-child {
    margin-right: 1.5rem;
}


@media only screen and (min-width: 768px) {
    .antd-Modal .antd-Modal-content{
        max-height: calc(100vh - 100px);
    }
}

.antd-Modal-body {
    overflow: auto;
}


.antd-Nav-item.is-active {
    box-shadow:var(--link-color) 4px 0 0 inset;
}

.antd-Pagination > li > a, .antd-Pagination > li > span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rdtPicker table {
    border-collapse: separate;
}

.antd-DropDown-caret > svg {
    top: 0px;
}

/* start: amis 2.7.2, component Nav */
:root {
    --Nav-Item-height--horizontal: 2.5rem;
}

.antd-Nav-Menu-submenu-arrow > svg {
    display: initial;
}

.antd-Nav-Menu-horizontal .antd-Nav-Menu-item.antd-Nav-Menu-item-selected:after {
    height: 3px;
    top: 0;
    bottom: unset;
    background: rgb(14 165 233);
}

.antd-Nav-Menu-light .antd-Nav-Menu-item.antd-Nav-Menu-item-selected {
    background: rgba(21,137,238,.1);
}

.antd-Nav-Menu-item-selected .antd-Nav-Menu-item-label {
    color: black !important;
}

.antd-Nav-Menu-horizontal > .antd-Nav-Menu-item-tooltip-wrap > .antd-Nav-Menu-item {
    padding: 0 15px;
}
/* end: amis 2.7.2, component Nav */

/* 处理amis debug 滚动条异常 */
.AMISDebug-content{
    height: 100%;
}

.AMISDebug-content .AMISDebug-inspect{
    overflow: scroll;
    height: calc(100% - 40px);
}

.AMISDebug-content .AMISDebug-log{
    overflow: scroll;
    height: calc(100% - 40px);
}

/*  nav下配置itemBadge属性后item不会自动撑开 */ 
.antd-Nav-Menu-item-wrap .antd-Badge{
    width: -webkit-fill-available;
}


/* 实现弹框中的crud中的inputTree高度满屏，目前选人控件的左侧树样式 */
.antd-Modal-body .antd-Crud .antd-Table .antd-Tree{
    max-height: unset;
    overflow: unset;
}

/* 手机端native时间控件样式 */
@media (max-width: 768px){
    .steedos-combo-edit .antd-Form-row{
        display: flex !important;
        column-gap: unset !important;
    }
    .steedos-combo-edit .antd-Form::before{
        content: unset;
    }
    
    .steedos-combo-edit .antd-Form .antd-Form-item::after{
        content: unset;
    }
    
    .steedos-combo-edit .antd-Form .antd-Form-item{
        padding: 0;
    }

    .steedos-combo-edit{
        flex-wrap:nowrap !important;
    }

    .steedos-combo-edit .steedos-native-date .antd-TextControl-input input{
        min-width: 120px;
        align-items: start !important;
    }

    .steedos-combo-edit .steedos-native-time .antd-TextControl-input input{
        min-width: 70px;
    }
}

/* TODO: amis3.2.0 .antd-Nav-Menu-item-link类中缺少flex，影响nav样式 */
.antd-Nav-Menu-item-link{
    display: flex;
    align-items: center;
}

/* TODO: amis3.2.0 .antd-Nav类中多了background属性，影响nav样式 */
.antd-Nav{
    background-color: unset;
}

/* TODO: amis3.2.0 fieldset.antd-Collapse > legend类中多了background属性，影响分组样式 */
fieldset.antd-Collapse > legend{
    height: unset;
    width: unset;
}

/* crud中的快速搜索框样式改成与按钮风格统一的边框 */
.antd-Crud .antd-Crud-toolbar .antd-SearchBox.is-active{
    border-color: var(--button-default-default-top-border-color);
}

/* crud中的快速搜索框图标没对齐 */
.antd-Crud .antd-Crud-toolbar .antd-SearchBox.is-active svg.icon{
    top: unset
}

/* 
    .antd-Crud-toolbar .antd-Crud-toolbar-item中每个.antd-Button--size-default  使用了变量 var(--button-size-default-marginRight) 右侧会有margin，
    移除最后一个（按元素的所在位置其实是每一个，因为有float right所以界面上显示的是最后一个）按钮的右侧margin来实现整行左右边距对齐 
*/
.antd-Crud .antd-Crud-toolbar .antd-Crud-toolbar-item.antd-Crud-toolbar-item--right:not(.antd-Crud-toolbar-item.antd-Crud-toolbar-item--right + .antd-Crud-toolbar-item.antd-Crud-toolbar-item--right)  .antd-Button{
    margin-right: 0;
}

/* crud中的顶部选中项未垂直居中 */
.antd-Crud .antd-Crud-selection{      
    padding: var(--gap-sm);
    /* border-bottom: 1px solid var(--Table-thead-borderColor); */
    margin-bottom: 0;
}

.bg-white {
  color: var(--body-color);
}

.antd-SearchBox.is-mobile {
    border: var(--Form-input-borderWidth) solid transparent;
    border-radius: var(--Form-input-borderRadius);
}

.antd-Picker .antd-Picker-input .antd-Picker-values .antd-Picker-value{
    /* lookup字段值选中项值字符很多超长时换行，包括单选和多选 */
    white-space: break-spaces;
    word-break: break-all;
}

.steedos-crud-mode-cards .antd-Card-actions a[disabled]{
    box-shadow: none;
    cursor: not-allowed
}
.steedos-crud-mode-cards .antd-Card-actions a[disabled]:hover{
    color: rgba(0,0,0,.25)
}

.antd-Transfer .antd-GroupedSelection-item .antd-GroupedSelection-itemLabel,
.antd-Transfer .antd-Selections-item .antd-Selections-label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* amis3.6.3 .antd-Tree-itemText类中缺了flex样式 */
.antd-Tree-itemText{
    flex: 1 auto;
}
/* amis3.6.3 .antd-Picker-input类中多了 overflow: auto; 样式 */
.antd-Picker-input{
    overflow: hidden;
}


/* === amis 3.6 子表组件showIndex设置为false隐藏索引列后，且有嵌套行存在时，第一列样式顶部都多了空白半行 start === */
/* .antd-InputTable .antd-Table-primayCell .antd-Table-indent{
    display: none;
}

.antd-InputTable .antd-Table-primayCell .antd-Table-expandSpace{
    display: none;
} */
/* === end === */

/* === amis 3.6 子表组件showIndex设置为false隐藏索引列后，children子行缩进样式末生效 start === */
/* .antd-InputTable .antd-Table-tr--2th .antd-Table-primayCell .antd-Table-expandSpace{
    display: block;
    height: 1rem;
    float: left;
} */
/* === end === */

.steedos-record-related-crud .antd-Table-table > thead > tr > th:not(:last-child) {
    border-right: 0px;
}

.steedos-crud-mode-table .antd-Table-table > thead > tr > th:not(:last-child) {
    border-right: 0px;
}

.antd-Table-table > thead > tr > th {
    font-weight: 600;
}

.antd-Table-footToolbar {
    background: white;
}

.antd-Drawer--right .antd-Drawer-close{
    z-index: 11;
}


.antd-Drawer--lg .antd-Drawer-content{
    width: 60rem;
}


.antd-PopOver{
    z-index: 1360;
}

.antd-Tabs-linksWrapper {
    border-right: var(--Table-borderWidth) solid var(--Table-borderColor)
}

.antd-Form-label {
    font-weight: 600;
}

/* 修正lookup 字段显示没有上下居中的问题  */
.antd-Picker .antd-Picker-value {
    margin-bottom: 0;
    margin-top: 0;
}

.antd-Picker .antd-Picker-valueWrap {
    margin-bottom: unset;
}

/* 穿梭器右侧表格内选中项文字内容偏高,amis本身存在问题 */
.antd-Transfer .antd-Transfer-result .antd-Selections-item .antd-Selections-label{
    margin: 0;
    display: inline-flex;
}
/* 组合穿梭器左侧滚动条异常，比如列表视图排序tab，amis未重现 */
.antd-Transfer.antd-TabsTransfer .antd-GroupedSelection-item label.antd-Checkbox {
    position: relative;
}