:root {
    --Page-main-bg: transparent;
    --fontFamilyBase: -apple-system,BlinkMacSystemFont,Helvetica,Arial,Microsoft Yahei,SimHei;
    --Form-item-fontSize: 12px;
    --Form-fontSize: 14px;
    --Form-selectValue-fontSize: 14px;
    --Form-item-gap: 0.75rem;
    --Table-borderColor: #e5e7eb;
    --Table-borderWidth: 1px;
    --Table-fontSize: 13px;
    --Table-thead-borderColor: rgb(209 213 219);
    --Table-thead-fontSize: 13px;
    --Table-thead-bg: rgb(243 244 246);
    --Table-toolbar-marginY: 0;
    --TableCell--edge-paddingX: 1rem;
    --TableCell-paddingY: 0.3rem;
    --TableCell-paddingX: 0.5rem;
    --TableCell--edge-paddingX: 0.5rem;
    --Table-thead-borderWidth: 1px;
    --text--muted-color: #d9dcde;
    --Collapse-header-padding: 0px;
    --Collapse-content-fontSize: 14px;
    --Collapse-border: 0;
    --Collapse-header-fontSize: 16px;
    --Collapse-header-fontWeight: 400;
    --Collapse-header-onHover-bg: #EEEEEE;
    --Collapse-header-padding: 4px;
    --Collapse-content-padding: 4px;
    --Button-height: 2rem;
    --Button-paddingX: 16px;
    --button-size-default-top-right-border-radius: 0.25rem;
    --button-size-default-top-left-border-radius: 0.25rem;
    --button-size-default-bottom-right-border-radius: 0.25rem;
    --button-size-default-bottom-left-border-radius: 0.25rem;
    --button-size-default-marginRight: 4px;
    --button-default-default-bg-color: white;
    --button-default-default-top-border-color: #c9c9c9;
    --button-default-default-bottom-border-color: #c9c9c9;
    --button-default-default-left-border-color: #c9c9c9;
    --button-default-default-right-border-color: #c9c9c9;
    --button-default-default-font-color: rgb(1, 118, 211);
    --button-enhance-default-bg-color: white;
    --Nav-item-borderRadius: 0px;
    --Nav-item-onHover-bg: rgba(21,137,238,.1);
    --Nav-item-onActive-bg: rgba(21,137,238,.1);
    --Nav-item-onActive-color: #000;
    --Crud-toolbar-gap: 2px;
    --DropDown-caret-marginLeft: 0;
    --Nav-Item-maxWidth--tabs: 200px;
}

fieldset.antd-Collapse {
    margin-bottom: 1rem;
}

fieldset.antd-Collapse > legend.antd-Collapse-header {
    border-left: 0;
    background: rgb(241 245 249);
    padding: 0.5rem;
    margin: 0;
    border-radius: 0.25rem;
}

fieldset.antd-Collapse > legend.antd-Collapse-header > .antd-Collapse-arrow:before {
    border-color: initial
}

.amis-scope .antd-Select-option > label {
    display: block;
    min-width: 100px;
}

.is-inline .antd-Combo-items{
    justify-content: space-between !important;
    display: flex !important;

}

.is-inline .antd-Combo-items > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse))) !important;
}

.is-inline .antd-Combo-item{
    display: inline-block !important;
    flex: 1 1 0%;
    margin-top: 0 !important;
}

.steedos-listview .antd-List-toolbar{
    display: none;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,Microsoft Yahei,SimHei;
}

@media (max-width: 768px){
    .ant-modal.antd-Modal--lg, .ant-modal.antd-Modal--xl, .ant-modal.antd-Modal--full{
        top: 0px !important;
        margin: 0px !important;
        max-width: 100% !important;
        padding-bottom: 0px !important;
        height: 100%;
    }
    .ant-modal-content {
        height: 100%;
        max-height: 100%;
    }
}

:focus:not(:focus-visible) {
    outline: 0;
}

/* fix: https://github.com/baidu/amis/issues/5073 */
.antd-CBGroup-toolbar .antd-CBGroup-toolbarConditionAdd .antd-ButtonGroup>.antd-Button:first-child {
    margin-right: 1.5rem;
}


@media only screen and (min-width: 768px) {
    .amis-scope .antd-Modal-content{
        max-height: calc(100vh - 100px);
    }
}

.antd-Modal-body {
    overflow: auto;
}


.antd-Nav-item.is-active {
    box-shadow:var(--link-color) 4px 0 0 inset;
}

.antd-Pagination > li > a, .antd-Pagination > li > span {
    display: flex;
}

.rdtPicker table {
    border-collapse: separate;
}

.antd-DropDown-caret > svg {
    top: 0px;
}

.antd-Nav-Menu-submenu-arrow > svg {
    display: initial;
}