.ant-dropdown{
    z-index: 1400;
}

.ant-dropdown-menu {
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);
}

.ant-dropdown-menu-item {
    padding: 0;
}

.ant-dropdown-menu-item .antd-Button.antd-Button--default{
    border: none;
    width: 100%;
    text-align: left;
    background: transparent;
    background-color: transparent;
}

.ant-dropdown-menu-item .antd-Button--default:not(:disabled):not(.is-disabled):hover {
    background: transparent;
    background-color: transparent;
}


.ant-message{
    z-index: 2600;
}

.ant-modal-root .amis-scope .antd-Panel-footerWrap{
    position: sticky;
    width: 100%;
    bottom: 0px;
    background: #ffffff
}

.antd-Select--multi .antd-Select-valueWrap{
    display: flex;
}
.antd-Select--multi .antd-Select-valueWrap .antd-Select-value{
    display: flex;
    align-items: center;
}

.antd-ButtonGroup > .antd-Button {
    max-width: none !important;
}


/* env.notify时的toast样式参考amis toast，而不是使用antd本身的样式效果 */
.ant-message {
    top: var(--gap-base);
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--Toast-width);
}

.ant-message .ant-message-notice {
    padding: 2px 0;
    max-width: var(--Toast-width);
    margin: 0 4px;
}

.ant-message .ant-message-notice .ant-message-notice-content {
    width: 100%;
    padding: var(--Toast-paddingY) var(--Toast-paddingX);
    border-radius: var(--Toast-borderRadius);
}

.ant-message .ant-message-notice .ant-message-notice-content .ant-message-custom-content {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
}

/* .antd-Tabs {
    margin: 1rem;
} */

@media (max-width: 767px){
    .instance-default .antd-Form-item .antd-Form-label + .antd-Form-item-controlBox {
        max-width: 100%;
        padding-right: 15px;
    }
}
