
.ant-dropdown-menu {
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);
}

.ant-dropdown-menu-item {
    padding: 0;
}

.ant-dropdown-menu-item .antd-Button.antd-Button--default{
    border: none;
    width: 100%;
    text-align: left;
    background: transparent;
    background-color: transparent;
}

.ant-dropdown-menu-item .antd-Button--default:not(:disabled):not(.is-disabled):hover {
    background: transparent;
    background-color: transparent;
}


.ant-message{
    z-index: 2600;
}

.ant-modal-root .amis-scope .antd-Panel-footerWrap{
    position: sticky;
    width: 100%;
    bottom: 0px;
    background: #ffffff
}

.antd-Select--multi .antd-Select-valueWrap{
    display: flex;
}
.antd-Select--multi .antd-Select-valueWrap .antd-Select-value{
    display: flex;
    align-items: center;
}