.ant-dropdown-menu {
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);
}

.ant-dropdown-menu-item .antd-Button.antd-Button--default{
    border: none;
    border-width: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    background-color: transparent;
    min-width: 100px;
    justify-content: left;
}

.ant-dropdown-menu-item .antd-Button--default:not(:disabled):not(.is-disabled):hover {
    border-width: 0;
}

.steedos-record-related-list {
    .antd-Table-contentWrap{
        margin-bottom: 0px !important;
    }
    .antd-Table-headToolbar{
        display: none;
    }
    .antd-Images{
        display: inline !important;
    }
    
    .antd-Image-thumb{
        width: 1rem !important;
        height: 1rem !important;
    }
    .min-w-56 {
        min-width: 220px;
    }
    .textarea span{
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }   
}

.steedos-listview, .steedos-object-table {
    
    // .antd-Table-headToolbar{
    //     display: none;
    // }

    .antd-Images{
        display: inline !important;
    }
    
    .antd-Image-thumb{
        width: 1rem !important;
        height: 1rem !important;
    }
    .min-w-56 {
        min-width: 220px;
    }
    .textarea span{
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: 576px){
        // 手机端支持字段值文字超长时显示省略号
        .antd-Table-content{
            table.antd-Table-table{
                display: block;
                thead,tbody,tr,th,td{
                    display: block;
                }
                thead{
                    display: none;
                }
            }
        }
        // 手机端右侧字段超长时截取，最大宽度50%
        .steedos-listview-item{
            .steedos-listview-item-right{
                max-width: 50%;
            }
        }
        // 手机端底部只有一个加载更多按钮，剧中显示
        .antd-Table-toolbar{
            position: relative;
        }
    }
}


.antd-Table-toolbar{
    .antd-Crud-loadMore{
        .antd-Button{
            border: none;
            position: absolute;
            bottom: 0px;
            left: 30px;
            right: 30px;
            background: transparent;
        }
        // .antd-Button.is-disabled {
        //     display: none;
        // }
    }
}

.steedos-record-detail-related-lists{
    .steedos-record-related-list{
        .steedos-object-table{
            @media (max-width: 576px){
                // 手机上记录详细界面相关表底部不显示加载更多按钮
                .antd-Table-footToolbar{
                    display: none;
                }
            }
        }
    }
}

//选人控件搜索form改为横向撑满
.steedos-select-user > .antd-Form{
    margin-left: -200px;
}

@media (max-width: 576px){
    // 手机端默认强制去掉了下面的样式造成toolbar无法宽度满屏，先加上改成PC一样的满屏效果
    .antd-Crud-toolbar{
        flex-basis: 0;
        flex-grow: 1;
    }
}